<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>daily_shepherd.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FA7879BC044B3756E063CF5E503FCBB936CE4CFE</string>
				<key>dateExpires</key>
				<string>21/12/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FA7879BC044B3756E063CF5E503FCBB936CE4CFE</string>
						<key>dateExpires</key>
						<string>21/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3R3TM3V34F</string>
						<key>name</key>
						<string>SILVERSKY TECHNOLOGY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3R3TM3V34F.com.ahirbusinessnetwork</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3R3TM3V34F</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>daily_shepherd.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>94717827-891f-4eca-8339-53d0deb2331b</string>
				<key>dateExpires</key>
				<string>30/12/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ahirbusinessnetwork</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3R3TM3V34F</string>
				<key>name</key>
				<string>SILVERSKY TECHNOLOGY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
